header{
    position: fixed;
    top:0px;
    left:10px;
    background-color: deepskyblue;
    padding: 10px 10px;
    width: 98%;
    z-index: 1;
}

section{
    margin-left: 10px;
    margin-top: 70px;
    width:98%;
    height: 70%;
}

section p{
    line-height: 2;
    width: 90%;
    margin-left: 100px;
    font-size: 30px;
}

section div{
    text-align: center;
}

a{
    font-size: 25px;
}
