<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/MainPage.css">
</head>
<body>
    <header id="head">
        <span style="margin-left: 100px;  font-size:20px; color: white;">The loai</span>
        <select>
            <option>Ngon tinh</option>
            <option>Trinh tham</option>
            <option>Tieu thuyet</option>
            <option>Hai</option>
            <option>Thieu nhi</option>
        </select>
    </header>
    <section id="section">
        <h2>Truyện mới cập nhật</h2>
    </section>
    <aside id="aside">
        <h2>The loai</h2>
    </aside>
    <footer>
        Website đọc truyện online chất lượng hàng đầu việt nam, với nhiều truyện tiên hiệp, truyện kiếm hiệp, truyện<br>
        ngôn tình, truyện teen, truyện đô thị được chọn lọc và đăng tải một cách kĩ lưỡng.Mời bạn đọc và ủng hộ website<br>
        bằng cách giới thiệu đến bạn bè, chúc bạn có những giây phút đọc truyện thư giãn thật bổ ích. Google
    </footer>
</body>
</html>
